@model NewsPortal.Entities.Dtos.ReportListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Haberler";
    ViewBag.Dashboard = "Haberler";
}

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="reportsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Kategori</th>
                        <th>Başlık</th>
                        <th>Küçük Resim</th>
                        <th>Tarih</th>
                        <th>Editör</th>
                        <th>Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model.Reports)
                    {
                        <tr name="@report.Id">
                            <td>@report.Category.Name</td>
                            <td>@report.Title</td>
                            <td><img src="~/img/@report.Thumbnail" class="my-image-table" /></td>
                            <td>@report.Date.ToShortDateString()</td>
                            <td>@report.User.FirstName @report.User.LastName</td>
                            <td>
                                <a class="btn btn-primary btn-sm" data-id="@report.Id" asp-area="NormalUser" asp-controller="Home" asp-action="ReportDetail" asp-route-reportId="@report.Id">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/AdminLTE/js/reportUserIndex.js" type="application/ecmascript"></script>
}