@using NewsPortal.Shared.Utilities.Results.ComplexTypes
@model NewsPortal.Entities.Dtos.UserListDto
@{
    Layout = "_newLayout";
    ViewBag.Title = "Kullanıcılar";
    ViewBag.Dashboard = "Kullanıcılar";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><em class="fa fa-home"></em></a></li>
        <li class="breadcrumb-item active" aria-current="page">Kullanıcılar</li>
    </ol>
</nav>

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kullanıcı Adı</th>
                            <th>E-Posta Adresi</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Telefon Numarası</th>
                            <th>Hakkında</th>
                            <th>Resim</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr name="@user.Id">
                                <td>@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                @if (@user.PhoneNumber != null)
                                {
                                    <td>@user.PhoneNumber</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (@user.About != null)
                                {
                                    <td>@(user.About.Length>75 ? user.About.Substring(0,75):user.About)</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td><img src="~/img/@user.Picture" alt="@user.UserName" class="my-image-table" /></td>
                                <td>
                                    <button class="btn btn-info btn-sm btn-detail" data-id="@user.Id"><span class="fa fa-user-circle"></span></button>
                                    <button class="btn btn-warning btn-sm btn-assign" data-id="@user.Id"><span class="fa fa-shield"></span></button>
                                    <button class="btn btn-primary btn-sm btn-update" data-id="@user.Id"><span class="fa fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm btn-delete" data-id="@user.Id"><span class="fa fa-minus-circle"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfaına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız.</a>
    </div>
}
@section Scripts
{
    <script src="~/AdminLTE/js/userIndex.js" type="application/ecmascript"></script>
}
@section Styles
{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}