@model NewsPortal.Entities.Dtos.ReportListDto
@{
    Layout = "_newLayout";
    ViewBag.Title = "Haberler";
    ViewBag.Dashboard = "Haberler";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><em class="fa fa-home"></em></a></li>
        <li class="breadcrumb-item active" aria-current="page">Haberler</li>
    </ol>
</nav>

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="reportsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kategori</th>
                        <th>Başlık</th>
                        <th>Küçük Resim</th>
                        <th>Tarih</th>
                        @*<th>Okunma Sayısı</th>
                        <th>Yorum Sayısı</th>*@
                        <th>Aktif Mi?</th>
                        <th>Silinmiş Mi?</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan Kullanıcı Adı</th>
                        <th>Düzenlenme Tarihi</th>
                        <th>Düzenleyen Kullanıcı Adı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model.Reports)
                    {
                        <tr name="@report.Id">
                            <td>@report.Id</td>
                            <td>@report.Category.Name</td>
                            <td>@report.Title</td>
                            <td><img src="~/img/@report.Thumbnail" class="my-image-table" /></td>
                            <td>@report.Date.ToShortDateString()</td>
                            @*<td>@report.ViewsCount</td>
                            <td>@report.CommentCount</td>*@
                            <td>@(report.IsActive ? "Evet" : "Hayır")</td>
                            <td>@(report.IsDeleted ? "Evet" : "Hayır")</td>
                            <td>@report.CreatedDate.ToShortDateString()</td>
                            <td>@report.CreatedByName</td>
                            <td>@report.ModifiedDate.ToShortDateString()</td>
                            <td>@report.ModifiedByName</td>
                            <td>
                                <a class="btn btn-primary btn-sm btn-update" data-id="@report.Id" asp-area="Admin" asp-controller="Report" asp-action="Update" asp-route-reportId="@report.Id">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@report.Id">
                                    <span class="fa fa-minus-circle"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/AdminLTE/js/reportIndex.js" type="application/ecmascript"></script>
    <script>
        $(document).ready(function() {
            $('#btnAdd').click(function() {
                window.location.href = '@Url.Action("Add","Report")';
            });
        });
    </script>
}
@section Styles
{
}