@model NewsPortal.Entities.Dtos.CategoryListDto
@{
    Layout = "_newLayout";
    ViewBag.Title = "Silinmiş Kategoriler";
    ViewBag.Dashboard = "Silinmiş Kategoriler";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><em class="fa fa-home"></em></a></li>
        <li class="breadcrumb-item active" aria-current="page">Silinmiş Kategoriler</li>
    </ol>
</nav>

<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-2">

    <div class="card-body">
        <div class="spinner-border" role="status" style="display: none;">
            <span class="sr-only">Yükleniyor...</span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="deletedCategoriesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Açıklaması</th>
                        <th>Aktif Mi?</th>
                        <th>Silinmiş Mi?</th>
                        <th>Not</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan Kullanıcı Adı</th>
                        <th>Son Düzenlenme Tarihi</th>
                        <th>Son Düzenleyen Kullanıcı Adı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                @*<tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Adı</th>
                            <th>Açıklaması</th>
                            <th>Aktif Mi?</th>
                            <th>Silinmiş Mi?</th>
                            <th>Not</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı Adı</th>
                            <th>Son Düzenlenme Tarihi</th>
                            <th>Son Düzenleyen Kullanıcı Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>*@
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr name="@category.Id">
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>@category.Description</td>
                            <td>@(category.IsActive ? "Evet" : "Hayır")</td>
                            <td>@(category.IsDeleted ? "Evet" : "Hayır")</td>
                            <td>@category.Note</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedByName</td>
                            <td>@category.ModifiedDate.ToShortDateString()</td>
                            <td>@category.ModifiedByName</td>
                            <td>
                                <button class="btn btn-warning btn-sm btn-undo" data-id="@category.Id"><span class="fa fa-undo"></span></button>
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@category.Id"><span class="fa fa-minus-circle"></span></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/AdminLTE/js/deletedCategories.js" type="application/ecmascript"></script>
}
@section Styles
{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}